<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="index, follow">
    <meta name="google" content="notranslate">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="">
    <title>{% block title %}Привер Проект{% endblock %}</title>

</head>
<!-- <body class="pro-body show-sidebar" id="modalId"> -->
{# class="show-sidebar"  class="no-scroll"   #}
<body>

<div class="pagee" id="page">

    {% block header %}
        {{ include('app/proekts/base/_header.html.twig') }}
    {% endblock %}

    {% block sidebarr %}
        {{ include('app/proekts/base/_sidebarr.html.twig') }}
    {% endblock %}

    <!-- Main -->
    <main class="mainn">

        {% block menupro %} {% endblock %}

        {% block menuadapt %}

            <div class="main-pro-1">
                {{ include('app/proekts/_tabs.html.twig') }}
            </div>

            <div class="main-pro">
                <div class="storie-teni storie-teni--em2-2 ma-bo-1">
                    Главная
                </div>
            </div>

        {% endblock %}

        <div class="containerr">
            <div class="kroxii-xl">
                {% block kroxii %}
                {% endblock %}
            </div>


            {% include '_flashes.html.twig' %}

            {% block bodyy %}

                {{ include('app/proekts/page_glavas/glawnoe/_glaw-stor.html.twig') }}

                {% if uchastie and  persona and mestoNomer %}
                    {{ include('app/proekts/base/_main-matkas.html.twig') }}
                {% else %}
                    {{ include('app/proekts/base/_main-uchast.html.twig') }}
                {% endif %}
            {% endblock %}
        </div>
    </main>
</div>
{#{% block javascripts %}#}
{#    {{ encore_entry_script_tags('app') }}#}
{#    #}{#    <script src="../../manager/assets/js/modal.js"></script>#}
{#{% endblock %}#}

{% block modall %}
    {{ include('app/proekts/base/_contact-modal.html.twig') }}
    {{ include('app/proekts/base/_story-modal.html.twig') }}
    {{ include('app/proekts/base/_share-modal.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>

