<aside class="sidebarr-menu" id="sidebar">

    <div class="sidebarr__header">
        <div class="logo_es"></div>
    </div>

    <div class="sidebarr__content-menu">
        <!-- <div class="olan"></div> -->
        <div class="profilee-menu">
            <div class="olan"></div>
            <div class="profilee__header-menu">
                <div class="profilee__prof-menu"> Ольга Игоревна</div>
                <div class="profilee__name-menu"> Пчеловод</div>
            </div>

            <div class="profilee__text-menu">
                <a class="btnn btnn-sidebarr" href="#">Мои работы</a>
            </div>

        </div><!-- /.profilee -->

 <nav class="nav  nav--mobile">
            <ul class="nav__list">
                <li class="nav__item">
                   <a class="nav__link has-subnav  storie-teni storie-teni--em2-2" href="{{ path('proekt') }}" >Главная </a>
                     <ul class="subnav">

                         <li>
                             <a class="subnav__link" href="{{ path('app.proekts.pasekas.uchasties.basepro') }}">
                                 Участие
                             </a>
                         </li>

                        <li>
                            <a class="subnav__link" href="{{ path('app.proekts.mestos.okrugs') }}">
                               Номер Места
                            </a>
                        </li>

                        <li>
                            <a class="subnav__link" href="{{ path('app.proekts.personaa.nomer.diapazon') }}">
                                Персон Номер
                            </a>
                        </li>

                         <li>
                             <a class="subnav__link" href="{{ path('app.proekts.pasekas.uchasties.spisok') }}">
                                 Список участников
                             </a>
                         </li>

                    </ul> 
                </li>
             <li class="nav__item">
                <a class="nav__link has-subnav  storie-teni storie-teni--em2-2 " href="#">Матки </a>
                    <ul class="subnav">
                        <li>
                            <a class="subnav__link" href="{{ path('app.proekts.pasekas.uchasties.basepro') }}">
                                Елит - Матки
                            </a>
                        </li>
                        <li>
                            <a class="subnav__link" href="{{ path('app.proekts.pasekas.uchasties.basepro') }}">
                                Бренд - Матки
                            </a>
                        </li>
                        <li>
                            <a class="subnav__link" href="{{ path('app.proekts.pasekas.uchasties.basepro') }}">
                                Пчело - Матки
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav__item">
                    <a class="nav__link has-subnav  storie-teni storie-teni--em2-2" href="#">Дочки </a>
                    <ul class="subnav">
                        <li>
                            <a class="subnav__link" href="{{ path('app.proekts.pasekas.uchasties.basepro') }}">
                                Дочь - Елит
                            </a>
                        </li>
                        <li>
                            <a class="subnav__link" href="{{ path('app.proekts.pasekas.uchasties.basepro') }}">
                                Дочь - Бренд
                            </a>
                        </li>
                        <li>
                            <a class="subnav__link" href="{{ path('app.proekts.pasekas.uchasties.basepro') }}">
                                Дочь - Пчело
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav__item">
                    <a class="nav__link has-subnav  storie-teni storie-teni--em2-2" href="#">Пасека </a>
                    <ul class="subnav">
                        <li>На модерации</li>

                    </ul>
                </li>
            </ul>
      
        </nav>
        
    </div><!-- /.sidebarr__content -->
{#    <button class="btn  btn--blue" type="button" data-modal="contact-modal">Написать мне</button>#}
    <div class="sidebarr__footer">
        <button class="btnn btnn-sidebarr " type="button" data-modal="contact-modal">
            Написать мне
        </button>
    </div>


</aside>
